<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Home in thymeleaf</title>
</head>
<body>
<h1>
	Hey !
</h1>

<form  action="#" th:object="${ourForm}" th:action="@{'submitForm.html'}" method="post">
	<table>
		<tr>
			<td><label for="name">Enter a name : </label></td><td><input id="name" name="name" type="text" th:field="*{name}" /></td>
		</tr>
		<tr>
			<td><label for="age">Enter your age : </label></td><td><input id="age" name="age" type="text" th:field="*{age}" /></td>
		</tr>
		<tr>
			<td><label for="date">Enter some date : </label></td><td><input id="date" name="date" type="text" th:field="*{date}" /></td>
		</tr>
	</table>
	<button id="submit" type="button">Submit</button>
</form>
</body>
</html>
